:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --button-accent-color: #188CE8;
    --primary-bg-color:#FFFFFF ;
    --primary-white-color:#FFFFFF;
    --secondary-bg-color:#F5F4FA;
    --accent-bg-color:#2F303A;
    --project-stroke-color: #EEEEEE;
    --header-stroke-color: #ECECEC;
    --logo-color: #000000;
    --footer-color: rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --gradient: linear-gradient(to right, rgba(47, 48, 58, 0.4),  rgba(48, 47, 58, 0.4));
  
}


